body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 150px; /* Same width as the sidebar + left position in px */
  font-size: 16px; /* Increased text to enable scrolling */
  padding: 0px 20px;
}

@media screen and (max-width: 576px) {
  .sidenav {visibility: hidden;}
  .main{margin-left: 0px;}
}
@media screen and (max-width: 992px) {
  .sidenav {top: 210px;}
}
